<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Welcome to Tracker!</title>
  <link rel="stylesheet" href=".//public/style.css">
</head>
<body>
  <h1>Welcome to Tracker!</h1>
  <p id="description">Combining the functonality of Google Maps
  Navigation and showing your current location weather and traffic
  info all on one screen!</p>
  <h2></h2>
</body>
</html>
